<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            margin:50px 0px; padding:0px;
            text-align:center;
        }


    </style>

</head>
<body>
<form action="/logged" method="post">

<h1>Insert Temporany Key</h1>

<input type="text" name="key" size="50">
</form>
</body>
</html>